<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="../css/formulario.css">
    <title>Document</title>
</head>

<body>
    <div class="contains-fluid contactanos">
        <div class="form-pedido">
            <div class="row">
                <div class="col-6">
                    <form class="row " onsubmit="savePedido()">
                        <!--metodo de js para guardar pedido-->
                        <input type="hidden" id="" name="id_pedido" value="{$pedido['id_pedido']}">
                        <div class="row justify-content-start">
                            <div class="col-5">
                                <input type="text" class="form-control" value="{$pedido['nombre']}" placeholder="Nombre"
                                    aria-label="Firts name">
                            </div>
                            <div class="col-5">
                                <input type="text" class="form-control" value="{$pedido['apellido']}"
                                    placeholder="Apellido" aria-label="Last name">
                            </div>
                        </div>
                        <div class="row justify-content-start ">
                            <div class="col-5">
                                <input type="tel" class="form-control" value="{$pedido['telefono']}"
                                    placeholder="Telefono" aria-label="phone">
                            </div>
                            <div class="col-5">
                                <input type="time" class="form-control" value="{$pedido{'franja_horaria'}}"
                                    placeholder="Franja horaria" aria-label="time">
                            </div>
                        </div>
                        <div class="row justify-content-start ">
                            <div class="col-5">
                                <select name="vehiculo" id="vehiculo-requerido" class="form-select">
                                    <option selected value="{$pedido['clase_vehiculo'] == a}"> Carrito </option>
                                    <!--creo que es asi el value-->
                                    <option selected value="b"> Auto </option>
                                    <option selected value="c"> Camioneta </option>
                                    <option selected value="d"> Camion </option>
                                </select>
                            </div>
                            <div class="col-5">
                                <input type="text" class="form-control" value="{$pedido['direccion']}"
                                    placeholder="Dirección" aria-label="Address">
                            </div>
                        </div>
                        <div class="row justify-content-start ">
                            <div class="col-6">
                                <input type="image" class="form-control" value="{$pedido['foto']}" placeholder="Imagen"
                                    aria-label="Imagen">
                            </div>
                        </div>
                        <div class="row justify-content-start "></div>
                        <div class="d-grid gap-2 col-2">
                            <button class="btn btn-primary" type="submit"> enviar</button>
                        </div>

                    </form>
                </div>
                    <div class="col-2">
                        <h4> Telefono </h4>
                    </div>

            </div>
        </div>
    </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

</html>