<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
       <div class='header__top'>
           <h1>Servicio Metodologia Grupo 3</h1>
           <a href="#">Iniciar Sesion</a>
       </div> 
       <div class='header__bot'>
            <ul>
                <li><a href='#'>Servicio</a></li>
                <li><a href='#'>Cartelera</a></li>
                <li><a href='#'>Trabaja Con Nosotros</a></li>
                <li><a href='#'>Contactanos</a></li>
                <li><a href='#'>Voluntarios</a></li>
            </ul>
       </div>
    </header>
    <div class="banner">
        <div class="banner__text">
            <h3>Servicio Metodologia Grupo 3</h3>
            <p id='pagina'>Trabaja con Nosotros</p>
        </div>
    </div>

    <div class='d-flex popup'>
        <div class="login">
            <h3>Iniciar Sesion</h3>
            <input type="text" classs='login__user' placeholder='User o Email'>
            <input type="password" class='login__password' placeholder='Password'>
            <p><a href='#'>Olvidaste tu contrasena?</a></p>
            <div class='btn login__sesion'> Iniciar Sesion</div>
            <div class='login__barra'></div>
            <div class='btn login_register'> Registrarse</div>
        </div>
    </div>

    <div class='container'>

    </div>

    <script src="../js/login.js"></script>
</body>
</html>