.form-control{
    margin-bottom: 20px;
}
.form{
    
    margin-right: 4em;
    margin-top: 25%;
    margin-bottom:5%;
}
.contacto_acopio{
    margin-left: 6em;
}
.contains-fluid{
    margin-left: 2em;
    margin-right: 2em;
}
.btn-link{
    color: blue !important;
}
.form-add-material{
    margin-top: 5% !important;
}
.title-tpl{
    margin-bottom: 5%;
    color: #35b745;
}
.title-tpl h3{
    font-size: 3em;
}
.descripcion p{
    font-size: 1.7em;
    font-family: system-ui;
}
img{
    width: 35px;
}
.align-items-start{
    background-color:#f0ffff94 !important;
}
.footer{
    margin-top: 2%;
}
tr{
    text-align: center;
}
.form-label{
    margin-bottom: .1rem !important;
}
.col-balanza{
    margin-top: 1em !important;
}