.form-control{
    margin-bottom: 20px;
}
.form-pedido{
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 3em;
}
.contacto_acopio{
    margin-left: 6em;
}
.contains-fluid{
    margin-left: 2em;
    margin-right: 2em;
}