.form-control{
    margin-bottom: 20px;
}
.form{
    
    margin-right: 4em;
    margin-top: 25%;
    margin-bottom:5%;
}
.contacto_acopio{
    margin-left: 6em;
}
.contains-fluid{
    margin-left: 2em;
    margin-right: 2em;
}
.btn-link{
    color: blue !important;
}
.form-add-material{
    margin-top: 5% !important;
}